<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="/style.css">

    <title>Inicio de Sesión</title>
</head>
<body>
    <main>
        <h1>Inicio de sesión</h1>
        <form id="login-form">
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">
            
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" placeholder="Ingrese Contraseña">
            
            <button type="submit">Inicio de sesión</button>
        </form>
        <p>Si no está registrado <a href="/register">Regístrate</a></p>
    </main>
</body>

<script src="/login.js"></script>

</html>
